
@media(max-width:1285px){
    html{
        font-size:55%
    }
    .services-container{
        padding-bottom:7rem;
        grid-template-columns: repeat(2,1fr);
        margin: 0 5 rem;
    }
}
@media(max-width:9991px) {
    header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 2rem;
    }
    .timeline-items::before{
        left: 7px;
    }
    .timeline-item:nth-child(odd){
        padding-right: 0;
        text-align: 1eft;
    }
    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even){
        padding-left: 37px;
    }
    .timeline-dot{
        left :0;
    }
}



